body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: radial-gradient(circle at top, #fffaf3, #f3eadc);
  color: #2b2b2b;
}

.container {
  max-width: 650px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 28px;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button {
  width: 90%;
  max-width: 420px;
  padding: 14px;
  margin: 10px auto;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: linear-gradient(135deg, #c8a96a, #b89455);
  color: white;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.03);
}

#answers button {
  background: white;
  color: #333;
  border: 2px solid #e7dcc9;
}

#answers button:hover {
  background: #f7f1e7;
}

#answers button.selected {
  background: #c8a96a;
  color: white;
}

#answers button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#timer {
  font-size: 42px;
  font-weight: bold;
  margin: 20px;
  color: #b89455;
}

#result {
  font-size: 18px;
  margin-top: 20px;
  color: #4a5c4d;
}

/* Админка */
table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

th {
  background: #c8a96a;
  color: white;
}

tr:nth-child(1) {
  background: #fff3d6;
  font-weight: bold;
}

.fade-out {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.4s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s ease;
}

tr {
  transition: all 0.5s ease;
}

.up {
  background: #d4f7d4 !important;
}

.down {
  background: #ffd6d6 !important;
}
